@import url('https://fonts.google.com/specimen/Roboto family=Roboto:ital,whgt@0,100;0,700;1,100 %display=swap');

h1,h2,h3{
background-color: beige;
font-family: 'Roboto', sans-serif;
}

#imageContainer {
  display: none;
}

img{
width: 300px;
height:300px;
margin-left:100px;
}
.black-text{color:black;}
#rounded-img{border-radius:200px;}
li{border:2px solid Tomato;}

 .transparent-image {
    opacity: 0.7; /* Setează opacitatea la 70% */
  }


 table th,td {
border:2px solid black
  }
